<div *ngIf="environment==null; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
<ng-template #elseBlock>
  <div class="jumbotron jumbotron-fluid mt-4">
    <div class="container">
      <h1 class="display-4">Environment: {{environment.name}}</h1>
      <p class="lead">{{environment.description}}</p>
    </div>
  </div>

  <!-- Tab container -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Link</a>
    </li>
  </ul>

    <app-reading-table [environment]=environment></app-reading-table>
    <h2>Sensor Readings</h2>
    <div *ngFor="let sensor of environment.sensors">
        <app-sensor [sensor]=sensor></app-sensor>
    </div>

    <div *ngIf="images!=null && images.length > 0">
      <h2>Images</h2>
      <b *ngIf="images.length == 0">No images to display :(</b>
      <app-media [environment]="environment"></app-media>

      <!-- 
        <mdb-carousel [animation]="'slide'">
        <mdb-carousel-item *ngFor="let image of images" >
          <img class="d-block w-100" src="{{image.link}}">
        </mdb-carousel-item>
      </mdb-carousel>
       -->
  </div>
    
</ng-template>
