<div *ngIf="environment==null; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
<ng-template #elseBlock>
  <div class="jumbotron jumbotron-fluid mt-4">
    <div class="container">
      <h1 class="display-4">Environment: {{environment.name}}</h1>
      <p class="lead">{{environment.description}}</p>
    </div>
  </div>

  <!-- Tab container -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" *ngFor="let tab of Tabs">
      <a class="nav-link 
        {{(CurrentTab == tab) ? 'active':''}}" 
        aria-selected="{{(CurrentTab == tab) ? 'true':''}}" 
        (click)="SetTab(tab)">{{tab}}</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade {{CurrentTab == 'Graphs' ? 'show active' : ''}}" role="tabpanel" aria-labelledby="Graphs-tab">
      <h2>Sensor Readings</h2>
      <div *ngFor="let sensor of environment.sensors">
          <app-sensor [sensor]=sensor></app-sensor>
      </div>
    </div>

    <div class="tab-pane fade {{CurrentTab == 'Data' ? 'show active' : ''}}" role="tabpanel" aria-labelledby="Data-tab">
      <app-reading-table [environment]=environment></app-reading-table>
    </div>

    <div class="tab-pane fade {{CurrentTab == 'Media' ? 'show active' : ''}}" role="tabpanel" aria-labelledby="Media-tab">
      <div *ngIf="images!=null && images.length > 0">
        <h3>Images</h3>
        <b *ngIf="images.length == 0">No images to display :(</b>
        <app-media [environment]="environment"></app-media>
  
        <!-- 
          <mdb-carousel [animation]="'slide'">
          <mdb-carousel-item *ngFor="let image of images" >
            <img class="d-block w-100" src="{{image.link}}">
          </mdb-carousel-item>
        </mdb-carousel>
         -->
      </div>
    </div>

    <div class="tab-pane fade {{CurrentTab == 'Notes' ? 'show active' : ''}}" role="tabpanel" aria-labelledby="Notes-tab">
      <h3>Notes</h3>
      <p>TODO: make this do things</p>
      
    </div>

  </div>
    
</ng-template>
