<h1 *ngIf="environment == null">Media</h1>

<div *ngIf="environment != null">
    <p>Showing images for {{environment.name}}</p>
</div>

<div *ngIf="images==null || !ready">
    <app-loading-spinner></app-loading-spinner>
</div>

<div class="container" [hidden]="!ready">
    <div id="GalleryContainer" class="row">
        <a *ngFor="let image of images"  href={{image.link}} class="col-sm-4" data-sub-html={{this.generateCaption(image)}}>
            <img src={{this.getThumbnailUrl(image,320)}} class="img-thumbnail">
        </a>
    </div>
</div>



<!--
<div class="container">
    <div class="row">
        <div id="GalleryContainer" class="col-md-12 mx-auto my-5">
            <div class="col-sm" *ngFor="let image of images">
                <a href={{image.link}} >
                    <img src={{image.link}}>
                </a>
            </div>
        </div>
    </div>
</div>
-->