<h2>Data</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col" *ngFor="let head of settings.colHeaders" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let el of sensDataTable">
        <ng-container *ngFor="let rowConfig of settings.columns">
            <ng-container *ngIf="rowConfig.th">
                <th scope="row">{{el[rowConfig.data]}}</th>
            </ng-container>
            <ng-container *ngIf="!rowConfig.th">
                <td>{{el[rowConfig.data]}}</td>
            </ng-container>
        </ng-container>
      </tr>
    </tbody>
</table>