<h1>Configuration</h1>
<p>To update or add values, work with the tables below. Note that the BMS data loggers (environments) use the same configuration data that is entered here. </p>

<h2>Environments</h2>
<p>Environments in the context of BMS are the data logging devices that upload data to the BMS web service. Environments can be added and configured here:</p>
<div class="btn-group pb-2" role="group" >
    <button class="btn btn-success" (click)="EnvironmentModal(EnvironmentEditorModal, null)">Create Environment</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of envData">
      <th scope="row">{{e.id}}</th>
      <td>{{e.name}}</td>
      <td>{{e.description}}</td>
      <td><button class="btn btn-outline-warning" (click)="EnvironmentModal(EnvironmentEditorModal, e)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>




<h2>Sensors</h2>
<p>Sensors represent each individual type of data that can be logged by an environment. For example: the physical sensor attached to a data logging device may be able to log 2 different things like temperature and humidity, but each of those in the context of BMS represent a single sensor.</p>
<div class="btn-group pb-2" role="group" >
    <button class="btn btn-success" (click)="SensorModal(SensorEditorModal, null)">Create Sensor</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Data Type</th>
      <th scope="col">Data Type Name</th>
      <th scope="col">Assosciated Environment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of sensData">
      <th scope="row">{{e.id}}</th>
      <td>{{e.name}}</td>
      <td>{{e.description}}</td>
      <td>{{e.data_type}}</td>
      <td>{{e.data_type_name}}</td>
      <td>{{e.environment}}</td>
      <td><button class="btn btn-outline-warning" (click)="SensorModal(SensorEditorModal, e)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>





<!--- MODAL SENSOR -->
<ng-template #SensorEditorModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Sensor</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="sensorForm">
      <div class="form-group">
          <label>Environment</label>
          <select class="form-control" formControlName="environment">
            <option *ngFor="let e of envData" [value]="e.id" class="dropdown-item">{{e.id}} - {{e.name}}</option>
          </select>
      </div>
      <div class="form-group">
          <label>Sensor Name</label>
          <input class="form-control" formControlName="name">
      </div>
      <div class="form-group">
          <label>Sensor Description</label>
          <input class="form-control" formControlName="description" mdbInput mdbValidate>
      </div>

      <div class="form-group">
        <label for="sensColor">Color to use for charts and graphics</label>
        <input class="form-control" type="color" id="favcolor" name="favcolor" formControlName="ui_color"> 
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>


<!-- MODAL ENVIRONMENT -->
<ng-template #EnvironmentEditorModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Environment</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="environmentForm">
      <div class="form-group">
          <label>Environment Name</label>
          <input class="form-control" formControlName="name">
      </div>
      <div class="form-group">
          <label>Environment Description</label>
          <input class="form-control" formControlName="description" mdbInput mdbValidate>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>